
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title class="heading">new-go-web-app</title>
<link rel="stylesheet" href="main.css">
</head>
<body>
<h1>Welcome to your Go Web App!</h1>
</body>
</html>
	